
.nav-tabs {
    margin: 10px;  
}

/* .nav-content {
    margin: 20px;  
} */

 .app-title {
    border-bottom: 5px solid #ec6607;
 }

 .org-logo {
     width: 110px;
     height: 110px;
 }

 #username {
     text-align: right;
     margin-top: 43px;
 }

 #btn-login { 
    margin-top: 40px;
}
